/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
.hidden {
	display: none;
}

header > h1 {
  display: flex;
  justify-content: space-between;
  background-color: #0fb9b1;  
  margin-top: 0px;
  padding: 10px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20

}

.add-button {
  float: right;
  border-radius: 20
  padding: 32px 16px;
}
  
.container {
  display: flex;
  align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
  padding: .4px
}

.left-box {
  border: 5px;
  background-color: rgb(225, 225, 225, .9);
  width: 450px;
  height: 400px;
  opacity: 0.8;
  margin: 50px 100px;
  text-align: left;
}

.cook-button {
  display: flex;
  justify-content: left;
  align-items: left;
  background-color: #0fb9b1;
  border-radius: 5px 5px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

.right-box {
  border: 5px;
  background-color: rgb(225, 225, 225, .9);
  width: 450px;
  height: 400px;
  opacity: 0.8;
  margin: 50px 100px;
  text-align: center;
 
}


button.reset-button {
  display:flex;
  justify-content: right;
  align-items: center;
  background-color: rgb(225, 225, 225, .9);
}

body {
  background-image: url(./assets/burger-friends.jpg); 
  background-size: cover;  /*cover makes background image fill page and not repeat*/
  margin: 0;
  height: 100%;
  width: 100%
}
